@import url(https://fonts.googleapis.com/css?family=Lobster&effect=anaglyph|fire|3d|vintage);
@import 'https://fonts.googleapis.com/css?family=Rock+Salt';
@import 'https://fonts.googleapis.com/css?family=Antic+Slab';
@import 'https://fonts.googleapis.com/css?family=Antic+Slab|Josefin+Sans';
html,
body,
main {
  height: 100%;
}

::selection {
  background: #EEC2D2;
  color: #fff;
}

.navbar-inverse .navbar-nav > li > a {
  color: #f3f3f3;
}

.jumbotron {
  margin-bottom: 0;
}

.center {
  width: 80%;
  position: relative;
  top: 20%;
  left: 10%;
  border: 5px dotted #B9D3CF;
  padding: 0px 5px;
  background: rgba(61, 59, 61, 0.6);
}

.center h1 {
  font-family: "Rock Salt", cursive;
  font-size: 4em;
  font-weight: 500;
  color: #B9D3CF;
  padding: 30px 20px;
  text-align: center;
  vertical-align: middle;
  width: 100%;
  z-index: 5;
}

@media only screen and (max-width: 750px) {
  .center h1 {
    font-size: 30px;
  }
}

.center .frontend {
  color: #EEC2D2;
}

@media only screen and (max-width: 750px) {
  .center .frontend {
    font-size: 30px;
  }
}

.photo-cover {
  background: url(../image/bordersin.jpg) no-repeat center center/cover fixed;
  height: 100%;
  position: relative;
}

.photo-cover:before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-image: linear-gradient(to bottom, #84515F, #51898D);
  opacity: .8;
}

.background-primary {
  background: url(../image/cottoncandy.jpg);
}

.background-secondary {
  background: #51898D;
}

.large {
  font-size: 4em;
}

.medium {
  font-size: 2em;
}

/* Header */
.transparent {
  background: transparent;
}

.navbar-inverse {
  transition: all 0.2s ease-in;
}

.thumbnail {
  cursor: pointer;
  position: relative;
}

.thumbnail-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(82, 80, 82, 0.6);
  opacity: 0;
  transition: all 0.2s ease-in;
}

.thumbnail:hover .thumbnail-overlay {
  opacity: 1;
  transition: all 0.2s ease-in;
}

.full-screen {
  background: #51898D;
  height: 100%;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  display: none;
  overflow-y: scroll;
}

.close-window {
  cursor: pointer;
}

#aboutme {
  background: url(../image/cottoncandy.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
  padding-bottom: 5%;
  background-size: cover;
}

#aboutme h2 {
  font-family: "Antic Slab", serif;
  color: #525052;
  border-bottom: 5px dotted #525052;
}

#aboutme p {
  font-family: "Josefin Sans", sans-serif;
}

.picture {
  height: 200px;
  width: 200px;
  margin: 0 auto;
  text-align: center;
  border-radius: 100%;
  border: #16a085 4px dotted;
  display: inline-block;
  clear: both;
  text-align: center;
}

/* portafolio imagenes css */
.view {
  margin: 15px 33px;
  float: left;
  border: 5px dotted #B9D3CF;
  overflow: hidden;
  position: relative;
  text-align: center;
  box-shadow: 1px 1px 2px #e6e6;
  cursor: default;
  background: #B9D3CF;
}

.view .mask {
  width: 300px;
  height: 200px;
  position: absolute;
  overflow: hidden;
  top: 0;
  left: 0;
}

.view img {
  display: block;
  position: relative;
  height: 200px;
  width: 300px;
}

.view h2 {
  text-transform: uppercase;
  text-align: center;
  position: relative;
  font-size: 17px;
  padding: 10px;
  margin: 20px 0 0 0;
}

.view p {
  font-style: italic;
  font-size: 17px;
  position: relative;
  padding: 0px 20px 0px;
  text-align: center;
}

/*3*/
.view-tenth img {
  transform: scaleY(1);
  transition: all .7s ease-in-out;
}

.view-tenth .mask {
  background-color: rgba(255, 231, 179, 0.3);
  transition: all 0.5s linear;
  opacity: 0;
}

.view-tenth h2 {
  border: 5px dotted #752439;
  background: transparent;
  margin: 20px 40px 0px 40px;
  transform: scale(0);
  color: #333;
  transition: all 0.5s linear;
  opacity: 0;
}

.view-tenth p {
  color: #333;
  opacity: 0;
  transform: scale(0);
  transition: all 0.5s linear;
}

.view-tenth a.info {
  opacity: 0;
  transform: scale(0);
  transition: all 0.5s linear;
  color: #84515F;
}

.view-tenth:hover img {
  -webkit-transform: scale(10);
  transform: scale(10);
  opacity: 0;
}

.view-tenth:hover .mask {
  opacity: 1;
}

.view-tenth:hover h2,
.view-tenth:hover p,
.view-tenth:hover a.info {
  transform: scale(1);
  opacity: 1;
}

#portafolio .portafolio-item {
  right: 0;
  margin: 0 0 15px;
}

#portafolio {
  background-color: #51898D;
  padding-top: 30px;
  padding-bottom: 30px;
  z-index: 5;
  width: 100%;
}

#portafolio h2 {
  text-align: center;
  border-bottom: 3px dotted #f1f1f1;
  padding: 30px;
  font-family: "Antic Slab", serif;
}

#portafolio p {
  font-family: "Josefin Sans", sans-serif;
  text-align: center;
}

footer h2 {
  font-family: "Antic Slab", serif;
}

footer h2 p {
  color: #16a085;
  font-family: "Josefin Sans", sans-serif;
}

#contenido-1 {
  background-color: white;
  padding-top: 140px;
}

#contenido-1 h3 {
  font-family: "Antic Slab", serif;
}

#contenido-1 h4 {
  font-family: "Antic Slab", serif;
}

#contenido-1 p {
  font-family: "Josefin Sans", sans-serif;
  margin-bottom: 0px;
  font-size: 18px;
}

#contenido-1, #descripcion, #contenedor-grafico, #contenedor-grafico-2, #contenido-2, #contenido-3, .blog, .partners-cont {
  width: 98%;
  max-width: 1700px;
  margin: 0 auto;
  position: relative;
  z-index: 1;
}

#grafico.hability p {
  font-size: 21px;
  font-family: "Josefin Sans", sans-serif;
  margin-bottom: 0px 0px;
}

#grafico h2 .fa, #grafico-2 h2 .fa, #grafico-3 h2 .fa {
  color: #8c8c8c;
  font-size: 44px;
  float: left;
  margin-left: -95px;
  position: relative;
}

#grafico h2 .fa:before, #grafico-2 h2 .fa:before, .grafico-2 h2 .fa:before {
  left: 13px;
  position: relative;
  transition: all 0.5s ease-in-out;
}

#grafico:hover h2 .fa:before, #grafico-2:hover h2 .fa:before, .grafico-2:hover h2 .fa:before {
  color: rgba(82, 80, 82, 0.6);
  transition: all 0.5s ease-in-out;
}

.grafico, .grafico-2 {
  width: 100%;
  position: relative;
  z-index: 2;
}

.grafico-2 {
  background: #dedede;
  display: none;
}

#grafico, #grafico-2 {
  width: 49.9%;
  display: inline-table;
  padding: 50px 50px;
  position: relative;
}

#grafico:after, #grafico-2:after {
  content: '';
  background-color: rgba(160, 160, 160, 0);
  top: 30px;
  bottom: 20px;
  left: 0px;
  right: 45px;
  position: absolute;
  z-index: -1;
  transition: all 0.5s ease-in-out;
}

#grafico:hover:after, #grafico-2:hover:after {
  background-color: rgba(160, 160, 160, 0.2);
  top: 10px;
  bottom: 0;
  left: 10px;
  right: 25px;
  transition: all 0.5s ease-in-out;
}

#grafico:hover .progress, #grafico-2:hover .progress, .grafico-2:hover .progress-2 {
  background: #dadada;
  transition: all 0.3s ease-in-out;
}

#grafico-3 {
  margin-top: 0px;
}

.progress .progress-striped .active {
  margin-bottom: 3px;
}

h3.heading-progress {
  font-size: 14px;
  font-weight: 600;
  margin-bottom: 6px;
  margin-top: 4px;
  color: color-border;
}

.pull-right {
  float: right;
}

.cont-programas {
  width: 100%;
}

.cont-programas h3 {
  margin-bottom: 8px;
  margin-top: 8px;
}

.programas {
  width: 40px;
  height: 40px;
  background: #bebebe;
  display: inline-block;
  margin: 5px;
  font-weight: bold;
  line-height: 35px;
  text-align: center;
  position: relative;
}

.programas:after {
  content: '';
  background: rgba(120, 120, 120, 0.3);
  top: 5px;
  bottom: 5px;
  left: 5px;
  right: 5px;
  position: absolute;
  transition: all 0.5s ease-in-out;
}

.programas:hover:after {
  background: #16a085;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  transition: all 0.5s ease-in-out;
}

.programas-2 {
  width: 160px !important;
}

.programas-2:hover:after {
  background: #16a085;
  top: 0px;
  bottom: 0px;
  left: 60px;
  right: 60px;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  transition: all 0.5s ease-in-out;
}

.tooltip {
  background: rgba(124, 19, 40, 0.8);
  background: -moz-linear-gradient(left, rgba(124, 19, 40, 0.8) 0%, rgba(255, 35, 57, 0.8) 100%);
  background: -webkit-gradient(linear, left top, right top, color-stop(0%, rgba(124, 19, 40, 0.8)), color-stop(100%, rgba(255, 35, 57, 0.8)));
  background: -webkit-linear-gradient(left, rgba(124, 19, 40, 0.8) 0%, rgba(255, 35, 57, 0.8) 100%);
  background: -o-linear-gradient(left, rgba(124, 19, 40, 0.8) 0%, rgba(255, 35, 57, 0.8) 100%);
  background: -ms-linear-gradient(left, rgba(124, 19, 40, 0.8) 0%, rgba(255, 35, 57, 0.8) 100%);
  background: linear-gradient(to right, rgba(124, 19, 40, 0.8) 0%, rgba(255, 35, 57, 0.8) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7c1328', endColorstr='#ff2339',GradientType=1 );
  color: #fff;
  padding: 4px;
  top: -50px;
  line-height: normal;
  margin-left: -5px;
  text-align: left;
  white-space: nowrap;
  opacity: 0;
  position: absolute;
  transition: all 0.5s ease-in-out;
  z-index: 3;
}

.contenido-2 {
  background-color: white;
  padding-top: 15px;
  z-index: 2;
}

.lente-general {
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  cursor: pointer;
  display: none;
  top: 0px;
  left: 0px;
  position: absolute;
  z-index: 6;
}

.lente-contenido {
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  cursor: pointer;
  display: none;
  top: 0px;
  left: 0px;
  position: fixed;
  z-index: 9;
}

.lente {
  width: 100%;
  height: 100%;
  background: transparent;
  top: 0px;
  left: 0px;
  position: absolute;
}

#contenido-2 {
  text-align: center;
  color: white;
  margin-top: 15px;
}

.linea-horizontal {
  width: 98%;
  height: 1px;
  left: 1%;
  position: relative;
}

.linea-3 {
  width: 100%;
  height: 1px;
  border-bottom: dotted;
  top: -8px;
  left: 0;
}

.btn-social {
  color: #16a085;
  display: inline-block;
  width: 50px;
  height: 50px;
  border: 2px dotted #16a085;
  border-radius: 100%;
  text-align: center;
  font-size: 20px;
  line-height: 45px;
}

.btn:focus,
.btn:active,
.btn.active {
  outline: 0;
}
